<div class="border">
  <header class="header">
    <div class="left_hader_container">
      <div class="header__logo">
        <a href="/index.html" class="logo_span">Bookshelf</a>
      </div>
      <nav class="nav">
        <ul class="nav-ul">
          <li><a href="./" class="header__button">Home</a></li>
          <li>
            <a href="./shopping-list" class="header__button_shopping"
              >Shopping list</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="right_logo_container">
      <div class="header__theme-switch">
        <label class="header__theme-switch-label">
          <input type="checkbox" class="header__theme-switch-checkbox" />
          <span class="header__theme-switch-slider"></span>
        </label>
      </div>
      <button class="mobile-menu-button">B</button>
    </div>
  </header>
</div>
<div class="header-modal">
  <ul class="modal-list">
    <li class="modal-item">
      <a href="/index.html" class="modal__button">Home</a>
    </li>
    <li class="modal-item">
      <a href="/shopping-list.html" class="modal__button_shopping"
        >Shopping list</a
      >
    </li>
  </ul>
</div>
