<div data-modal-backdrop class="modal-backdrop">
  <div class="modal">
    <div class="flex-modal">
      <span class="close-button" title="Close">
        <svg width="24" height="24">
          <use href="/src/img/icons.svg#icon-x-close"></use>
        </svg>
      </span>

      <div class="img">
        <img
          class="book-cover"
          src="book-cover.jpg"
          alt="Book Cover"
          width="287"
          height="408"
        />
      </div>
      <div>
        <h2 class="book-title">Book Title</h2>
        <p class="book-author">Author</p>
        <p class="book-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, magni
          repellat nemo perferendis nulla
        </p>

        <div class="marketplaces-img">
          <picture class="marketplaces">
            <source
              srcset="./img/modal/book.png 1x, ./img/modal/book@2x.png 2x"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./img/modal/book.png 1x, ./img/modal/book@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/modal/book.png 1x, ./img/modal/book@2x.png 2x"
              media="(max-width: 767px)"
            />

            <img
              class="modal-img"
              src="/src/img/modal/book.png"
              alt="${res.buy_links[1].name}"
            />
          </picture>

          <picture class="marketplaces">
            <source
              srcset="./img/modal/amazon.png 1x, ./img/modal/amazon@2x.png 2x"
              media="(min-width: 1440px)"
            />

            <source
              srcset="./img/modal/amazon.png 1x, ./img/modal/amazon@2x.png 2x"
              media="(min-width: 768px)"
            />

            <source
              srcset="./img/modal/amazon.png 1x, ./img/modal/amazon@2x.png 2x"
              media="(max-width: 767px)"
            />

            <img
              class="modal-img"
              src="/src/img/modal/amazon.png"
              alt="${res.buy_links[0].name}"
            />
          </picture>
        </div>
      </div>
    </div>
    <button class="add-to-list">Add to Shopping List</button>
  </div>
</div>
