<div data-modal-backdrop class="modal-backdrop">
  <div class="modal">
    <div class="flex-modal">
      <span class="close-button" title="Close">&times;</span>
      <div class="img">
        <img class="book-cover" src="book-cover.jpg" alt="Book Cover" />
      </div>
      <div class="modal-texts">
        <h2 class="book-title">Book Title</h2>
        <p class="book-author">Author</p>
        <p class="book-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, magni
          repellat nemo perferendis nulla
        </p>
        <div class="marketplaces">
          <a href="marketplace1.com" target="_blank"
            ><img src="marketplace1-logo.png" alt="Marketplace 1"
          /></a>
          <a href="marketplace2.com" target="_blank"
            ><img src="marketplace2-logo.png" alt="Marketplace 2"
          /></a>
        </div>
      </div>
    </div>
    <button class="add-to-list">Add to Shopping List</button>
  </div>
</div>
