<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bookshelf</title>
  <link rel="stylesheet" href="/src/css/modal.css" />
  <script type="module" src="/src/js/modal.js"></script>
</head>

<body>
  <main>
<div class="modal-backdrop" data-modal-windows>
  <div class="modal">
    <div class="flex-modal">
      <button class="closeBtn" type="button">
        <svg width="24" height="24" class="button-close" data-modal-close>
          <use href="./"></use>
        </svg>
      </button>

      <div class="modal-texts">
      <div class="modal-content"></div>
      </div>

      <button type="button" class="add-to-list">
        <p class="textAdd">Add to shopping list</p>
        <p class="remove-local" hidden>remove from the shopping list</p>

      </button>

      <div class="textButtonOn">
        <p class="textBuy" hidden>
          Congratulations! You have added the book to the shopping list. To
          delete, press the button "Remove from the shopping list".
        </p>
      </div>
    </div>
  </div>
</div>

</main>
</body>
</html>