@import './normalize.min.css';
@import './fonts.css';
@import './header.css';
@import './home.css';
@import './modal.css';
@import './shopping-list.css';
@import './widget.css';

body {
  font-family: DM Sans;
}

.container {
  width: 287px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }
}
