.scroll-up-button {
    display: none;
    position: fixed;
    width: 54px;
    height: 54px;
    bottom: 20px;
    right: 20px;
    background-color: #4F2EE8;
    box-shadow: 0 0 0 5px #4F2EE84D;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.scroll-up-button svg {
    fill: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-up-button:hover {
    background-color: rgba(79, 46, 232, 0.7);
}